.side-nav > ul > li > .side-menu.side-menu--active {
  border-bottom-width: 3px;
  border-style: solid;
  --tw-border-opacity: 1;
  /* border-color: rgba(0, 73, 55, var(--tw-border-opacity)); */
  --tw-bg-opacity: 1;
  /* background-color: rgba(6, 95, 70, var(--tw-bg-opacity)); */
  /* background: #2D427B;
  border-color: #2D427B; */
  background: #2F2F2F;
  border-color: #2F2F2F;
}

/* hover navbar */
.side-nav > ul > li > .side-menu:hover:not(.side-menu--active):not(.side-menu--open) {
  /* background: #2D427B; */
  background: #2F2F2F;
  border-bottom-width: 3px;
  border-style: solid;
  --tw-border-opacity: 1;
  /* border-color: rgba(0, 73, 55, var(--tw-border-opacity)); */
  /* border-color: #2D427B; */
  border-color: #2F2F2F;
  --tw-bg-opacity: 1;
}

.side-nav > ul ul {
  /* background: #2D427B; */
  background: #2F2F2F;
}

/* สีเมนูปกติ */
.wrapper-box {
  background: #459AC7 !important;
}

.wrapper:before {
  background: #79C9DB !important;
  z-index: 0;
}

/* สีหลัก */
.main {
  background: #2F2F2F;
}

.side-menu__icon {
  color: white;
}

.side-nav > ul ul li a.side-menu--active .side-menu__icon {
  color: white;
}

.side-nav > ul ul li a.side-menu--active .side-menu__title {
  color: white;
}

.side-nav__devider {
  background: red;
}

.-intro-x {
  border: none;
}

html {
  background: #459AC7;
}

/* maz select color */
.maz-input__input {
  color: black !important;
}